.site-footer {
    background: gray;
    color: white;
    padding: 4rem 0 1rem;
    margin-top: 5rem;
}

.footer-logo {
    height: 80px;
    margin-bottom: 1rem;
}

.site-footer h4,
.site-footer h5 {
    font-weight: 700;
    margin-bottom: 1rem;
}

.footer-links {
    list-style: none;
    padding-left: 0;
}

    .footer-links li {
        margin-bottom: .75rem;
    }

    .footer-links a,
    .footer-contact a {
        color: rgba(255,255,255,.85);
        text-decoration: none;
        transition: .3s;
    }

        .footer-links a:hover,
        .footer-contact a:hover {
            color: var(--secondary-yellow);
        }

.footer-contact p {
    margin-bottom: 1rem;
}

.footer-contact i {
    margin-right: .75rem;
    color: var(--secondary-yellow);
}

.footer-divider {
    margin-top: 2rem;
    margin-bottom: 1rem;
    border-color: rgba(255,255,255,.15);
}

.footer-bottom {
    text-align: center;
    color: rgba(255,255,255,.75);
    font-size: .9rem;
}

@media (max-width: 768px) {

    .site-footer {
        text-align: center;
    }

    .footer-contact i {
        color: var(--primary-blue);
        display: block;
        margin-bottom: .5rem;
    }
}
