.page[b-b4px5aklg6] {
    position: relative;
    display: block;
    flex-direction: column;
}

main[b-b4px5aklg6] {
    padding-top:100px;
}

.sidebar[b-b4px5aklg6] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-b4px5aklg6] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-b4px5aklg6]  a, .top-row[b-b4px5aklg6]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-b4px5aklg6]  a:hover, .top-row[b-b4px5aklg6]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-b4px5aklg6]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .header-logo[b-b4px5aklg6] {
        height: 3rem;
        width: auto;
        margin-right: auto;
        object-fit: contain;
    }

@media (max-width: 640.98px) {
    .top-row[b-b4px5aklg6] {
        justify-content: space-between;
    }

    .top-row[b-b4px5aklg6]  a, .top-row[b-b4px5aklg6]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-b4px5aklg6] {
        display:block;
        flex-direction: row;
    }
    .top-row[b-b4px5aklg6] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-b4px5aklg6]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-b4px5aklg6], article[b-b4px5aklg6] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

#blazor-error-ui[b-b4px5aklg6] {
    color-scheme: light only;
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss[b-b4px5aklg6] {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
.fab-top[b-b4px5aklg6] {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: var(--secondary-yellow);
    color: #05163D;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    text-decoration: none;
    box-shadow: 0 8px 25px rgba(0,0,0,.25);
    z-index: 9999;
    transition: all .3s ease;
}

    .fab-top:hover[b-b4px5aklg6] {
        transform: translateY(-5px);
        color: #05163D;
        box-shadow: 0 12px 30px rgba(0,0,0,.35);
    }

html[b-b4px5aklg6] {
    scroll-behavior: smooth;
}
